<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="VPN AS A Service (VPNAAS)">
        <title>Voyant - VPN As A Service (VPNAAS)</title>
        <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="css/marketing.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href="">Voyant - VPN As A Service (VPNAAS)</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item"><a href="#app" class="pure-menu-link">Launch your VPN</a></li>
                </ul>
            </div>
        </div>

        <div class="splash-container">
            <div class="splash">
                <h1 class="splash-head">Launch your VPN</h1>
                <p class="splash-subhead">
                    Use your digitalocean, aws, azure or vultr account to launch a preconfigured vps and create your own VPN in *seconds*.
                </p>
                <p>
                    <a href="#app" class="pure-button pure-button-primary">Try it now !</a>
                </p>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="content vpn" id="app">
                <h2 class="content-head is-center">Create your VPN</h2>

                <div class="pure-g">
                    <div class="l-box-lrg pure-u-1">
                        <form class="pure-form pure-form-stacked">
                            <div>
                                <label for="provider">Provider</label>
                                <select id="provider" v-model="provider">
                                    <option v-for="provider_opt in providers" v-bind:value="provider_opt.value">{{ provider_opt.text }}</option>
                                </select>
                            </div>

                            <div v-show="provider">
                                <label for="key">API key</label>
                                <input id="key" type="password" v-model="key" placeholder="Your API key">
                            </div>


                            <div v-show="key">
                                <label for="region">Region</label>
                                <select id="region" v-model="region">
                                    <option v-for="region_opt in regions">{{ region_opt }}</option>
                                </select>
                            </div>

                        </form>
                    </div>

                    <div class="l-box-lrg pure-u-1" v-show="key && provider">
                        <h4>VPNs running</h4>

                        <p>
                            <button v-show="region" v-on:click="create" class="pure-button" title="Launch">
                                <i class="fa fa-rocket"></i>
                            </button>
                            <button v-on:click="getList" class="pure-button" title="Refresh">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </p>

                        <table class="pure-table pure-table-horizontal">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Region</th>
                                    <th>IP Address</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="vpn in vpns">
                                    <td>{{ vpn.id }}</td>
                                    <td>{{ vpn.name }}</td>
                                    <td>{{ vpn.region }}</td>
                                    <td>{{ vpn.ip_address }}</td>
                                    <td>{{ vpn.status }}</td>
                                    <td>
                                        <a download="myvpn.ovpn"
                                           href="api/config/download?vpn_id={{vpn.id}}&key={{key}}&provider={{provider}}"
                                           class="pure-button button-xsmall button-success"
                                           title="Download configuration">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <button v-on:click="delete(vpn)"
                                                class="pure-button button-xsmall button-error"
                                                title="Delete server">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="footer l-box is-center">
                Made with <span style="color: red;">❤</span> by <a href="https://github.com/vayan">vayan</a> & <a href="https://github.com/volnt">volnt</a>.
            </div>
        </div>
        <script src="js/vendors/vue.js" charset="utf-8"></script>
        <!-- <script src="js/vendors/vue-router.js" charset="utf-8"></script> -->
        <script src="js/vendors/vue-resource.js" charset="utf-8"></script>
        <script src="js/app.js" charset="utf-8"></script>
    </body>
</html>
